astroid
backcall
seldon-core
keras
tensorflow
numpy
catboost
certifi
charset-normalizer
colorama
cramjam
cycler
debugpy
decorator
dill
entrypoints
fastparquet
fonttools
fsspec
graphviz
hvac
idna
ipykernel
ipython

isort
jedi
joblib
jupyter-client
jupyter-core
kiwisolver
lazy-object-proxy
matplotlib
matplotlib-inline
mccabe
nest-asyncio
numpy
package-name
packaging
pandas
parso
pickleshare
Pillow
platformdirs
plotly
prompt-toolkit
psutil
pyarrow
Pygments
pylint
pyparsing
python-dateutil
pytz

pyzmq
requests
scikit-learn
scipy
seaborn
six
structlog
tenacity
threadpoolctl
tomli
tornado
traitlets

typing_extensions
urllib3
wcwidth
wrapt
Flask